extends ../layouts/admin.jade
block contents
  html
  body
    h1 Quản lý ngành hàng
    table.table.table-bordered
      thead
        tr
          th Ngành hàng cha
          |           
          th Ngành hàng con
          | 
          th Trạng thái
          |          
          th Thao tác
      |       
      tbody
        tr
          td John
          |           
          td 
            table.table.table-striped
              tr
                td tesr
              tr
                td tesr
              tr
                td tesr
          |           
          td john@example.com
        |         
        tr
          td Mary       
          td Moe
          |           
          td mary@example.com
        |         
        tr
          td July
          td Dooley
          |           
          td july@example.com
