extends ../layouts/admin.jade
block contents
	h1 Sửa thông tin mật khẩu của #{user.username}
	case status
		when "success"
			div(class="alert alert-success")
				p #{message}

		when "error"
			div(class="alert alert-danger")
				p #{message}
	form(method="POST", action='', name='add-general')
		div.form-group
			label(for='opassword') Mật khẩu cũ:
			|     
			input#fullname.form-control(type='password' name='opassword')
			|   
		div.form-group
			label(for='npassword') Mật khẩu mới:
			|     
			input#username.form-control(type='password' name='npassword')
		div.form-group
			label(for='cnpassword') Nhập lại mật khẩu mới:
			|     
			input#username.form-control(type='password' name='cnpassword')
		div.form-group
			input#username.form-control(type='hidden' name='usernamehd' value='#{user.username}')
		div(class="form-group")
			div(class="")
				button(type="submit" class="btn btn-sm btn-primary") Cập nhật