doctype html
html(lang='vi-VN')
  head
    title  Mua online s&#x1EA3;n ph&#x1EA9;m Simple Home ch&iacute;nh h&atilde;ng 
    | &#x9;
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    | &#x9;
    meta(name='author', content=' sản phẩm Simple Home chính hãng ')
    | &#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    | &#x9;
    meta(name='description', content='Mua online sản phẩm Simple Home chính hãng điện gia dụng, nội thất, gia dụng, hàng trang trí')
    | &#x9;
    meta(name='keywords', content='Simple home, chính hãng, điện gia dụng, nội thất, gia dụng, hàng trang trí')
    |     
    meta(content='noodp,noydir', name='robots')
    |     
    meta(name='Author', content='sản phẩm Simple Home chính hãng')
    |     
    meta(property='og:locale', content='vi_VN')
    | &#x9;
    meta(property='og:type', content='product')
    | &#x9;
    meta(property='og:url', content='')
    | &#x9;
    meta(property='og:site_name', content='sản phẩm Simple Home chính hãng')
    | &#x9;
    meta(property='og:title', content='sản phẩm Simple Home chính hãng - điện gia dụng, nội thất, gia dụng, hàng trang trí')
    | &#x9;
    meta(property='og:description', content='Mua online sản phẩm Simple Home chính hãng điện gia dụng, nội thất, gia dụng, hàng trang trí')
    |     
    meta(property='article:publisher', content='https://es-la.facebook.com/simplehomevietnam')
    |     
    link(type='image/x-icon', rel='Shortcut Icon', href='/themes/img/favicon.ico')
    |     
    link(rel='stylesheet', type='text/css', href='/themes/css/header.css')
    |     
    link(rel='stylesheet', type='text/css', href='/themes/css/home.css')
    |     
    link(rel='stylesheet', type='text/css', href='/themes/css/footer.css')
    |     
    script(type='text/javascript', src='/themes/js/jquery.min.js')
    |     
    script(type='text/javascript', src='/themes/js/lazyload.min.js')
    |     
    script(type='text/javascript', src='/themes/js/home.js')
  body
    header.header
      // header start
      include ../includes/home/home-header.jade
      // header end
      //menu start
      include ../includes/home/home-menu.jade
      //menu end
    block contentshihi
    //Footer start
    include ../includes/home/home-footer.jade
    //Footer end
