.wrapheader
        .container_screen
          a.boxlogo(title='Simple Home', href='#')
            img(src='/themes/img/logo.png', alt='logo Simple Home')
          | &#x9;    &#x9;&#x9;
          form.frm_tim
            input#txt_search.data_input(type='text', name='txt_search', placeholder='Search')
            | &#x9;    &#x9;&#x9;&#x9;
            button.btn_search(type='submit')
          | &#x9;    &#x9;&#x9;
          .hotline_info
            p.hotline
              span.texthotline HOTLINE:
              |  
              span.phone 028.3856 3388
            | &#x9;    &#x9;&#x9;&#x9;
            p.online (Online t&#x1EEB; 8h30 - 21h t&#x1EEB; Th&#x1EE9; 2 - Ch&#x1EE7; Nh&#x1EAD;t)
          | &#x9;    &#x9;&#x9;
          a.login(title='Đăng nhập tài khoản', href='#', rel='nofollow')
            | &Dstrok;&abreve;ng nh&#x1EAD;p
          | &#x9;&#x9;&#x9;&#x9;
          a.boxcart(title='Thanh toán giỏ hàng', href='#', rel='nofollow')
            i.iconsprites_homecart
      | &#x9;&#x9;