footer
      .container_screen
        .contact.careplus
          h3
            | li&ecirc;n h&#x1EC7; CSKH - B&#x1EA3;o h&agrave;nh
          | &#x9;&#x9;&#x9;&#x9;
          ul.col_footer
            li
              i.iconsprites_iconcall
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              a(rel='nofollow', href='tel:02839505060', title='hotline chăm sóc khách hàng -  bảo hành') (028) 39 50 50 60
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            li
              i.iconsprites_iconmail
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              a(rel='nofollow', href='mailto:info@dienmaycholon.com.vn', title='Gửi mail cho siêu thị') info@dienmaycholon.com.vn
        | &#x9;&#x9;&#x9;
        .contact.buyoline
          h3
            | li&ecirc;n h&#x1EC7; mua h&agrave;ng
          | &#x9;&#x9;&#x9;&#x9;
          ul.col_footer
            li
              i.iconsprites_iconplace
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;T&ograve;a nh&agrave; H2, 196 Ho&agrave;ng Di&#x1EC7;u, P.8, Q.4, TP.HCM
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            li
              i.iconsprites_iconcall
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              a(rel='nofollow', href='tel:02838253212', title='hotline mua hàng') (028) 3825 3212
              |  - 
              a(rel='nofollow', href='tel:02838563388', title='hotline mua hàng') (028) 3856 3388
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            li
              i.iconsprites_iconmail
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              a(rel='nofollow', href='mailto:online@dienmaycholon.com.vn', title='Gửi mail cho siêu thị') online@dienmaycholon.com.vn
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            li
              i.iconsprites_iconface
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              a(rel='nofollow', href='https://es-la.facebook.com/simplehomevietnam', target='_blank', title='Gửi mail cho siêu thị') https://es-la.facebook.com/simplehomevietnam