nav
  ul
    - each category in categories
      li
        a(href='#', title='Điện gia dụng') #{category.catename} 
          i
          .sub_nav
            .box_cate_pro
              ul.list_category
                - each subcategory in category.subcategory
                  li
                    a(href='#', title='#') #{subcategory.subcatename}       
                        