nav
  ul
    - each category in categories
      li
        a(href='#', title='Điện gia dụng') #{category.catename} 
          i
          .sub_nav
            .box_cate_pro
              ul.list_category
                li
                  a(href='#', title='#') 1231231232       
                li
                  a(href='#', title='#') 1231231232  
                li
                  a(href='#', title='#') 1231231232       
                li
                  a(href='#', title='#') 1231231232  
                li
                  a(href='#', title='#') 1231231232       
                li
                  a(href='#', title='#') 1231231232       
                        