nav
        ul
          li
            a(href='#', title='Điện gia dụng') &Dstrok;i&#x1EC7;n gia d&#x1EE5;ng
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            i
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .sub_nav
              .box_cate_pro
                ul.list_category
                  li
                    a(href='#', title='#') L&ograve; vi s&oacute;ng
                  | &#x9;                            
                  li
                    a(href='#', title='#') B&#x1EBF;p &dstrok;i&#x1EC7;n t&#x1EEB;/h&#x1ED3;ng ngo&#x1EA1;i
                  | &#x9;                            
                  li
                    a(href='#', title='#') V&itilde; n&#x1B0;&#x1EDB;ng &dstrok;i&#x1EC7;n
                | &#x9;            &#x9;  &#x9;&#x9; 
                a.img_pro_week.boxlazy(href='#', title='Khuyến mãi tuần')
                  img.lazyload(data-src='/themes/img/banner-cat1.jpg', src='/themes/img/loader.gif', alt='khuyến mãi tuần')
              |                 &#x9;&#x9;
              .box_cate_pro
                ul.list_category
                  li
                    a(href='#', title='#') M&aacute;y xay sinh t&#x1ED1;/M&aacute;y &eacute;p
                  | &#x9;                            
                  li
                    a(href='#', title='#') B&igrave;nh &dstrok;i&#x1EC7;n &dstrok;un n&#x1B0;&#x1EDB;c
                  | &#x9;                            
                  li
                    a(href='#', title='#') M&aacute;y v&#x1EAF;t n&#x1B0;&#x1EDB;c cam
                | &#x9;            &#x9;  &#x9;&#x9; 
                a.img_pro_week.boxlazy(href='#', title='Khuyến mãi tuần')
                  img.lazyload(data-src='/themes/img/banner-cat2.jpg', src='/themes/img/loader.gif', alt='khuyến mãi tuần')
              |                 &#x9;&#x9;
              .box_cate_pro
                ul.list_category
                  li
                    a(href='#', title='#') B&agrave;n &#x1EE7;i
                  | &#x9;                            
                  li
                    a(href='#', title='#') B&igrave;nh n&#x1B0;&#x1EDB;c n&oacute;ng l&#x1EA1;nh
                | &#x9;            &#x9;  &#x9;&#x9; 
                a.img_pro_week.boxlazy(href='#', title='Khuyến mãi tuần')
                  img.lazyload(data-src='/themes/img/banner-cat3.jpg', src='/themes/img/loader.gif', alt='khuyến mãi tuần')
          | &#x9;&#x9;&#x9;&#x9;
          li
            a(href='#', title='nội thất') n&#x1ED9;i th&#x1EA5;t
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            i
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .sub_nav
              .box_cate_pro
                ul.list_category
                  li
                    a(href='#', title='#') Sofa ph&ograve;ng kh&aacute;ch
                  | &#x9;                            
                  li
                    a(href='#', title='#') Gh&#x1EBF; b&agrave;nh/th&#x1B0; gi&atilde;n
                  | &#x9;                            
                  li
                    a(href='#', title='#') B&agrave;n ph&ograve;ng kh&aacute;ch
                  | &#x9;                            
                  li
                    a(href='#', title='#') B&agrave;n l&agrave;m vi&#x1EC7;c
                | &#x9;            &#x9;  &#x9;&#x9; 
                a.img_pro_week.boxlazy(href='#', title='Khuyến mãi tuần')
                  img.lazyload(data-src='/themes/img/banner-cat1.jpg', src='/themes/img/loader.gif', alt='khuyến mãi tuần')
              |                 &#x9;&#x9;
              .box_cate_pro
                ul.list_category
                  li
                    a(href='#', title='#') Gh&#x1EBF; v&abreve;n ph&ograve;ng
                  | &#x9;                            
                  li
                    a(href='#', title='#') Gh&#x1EBF; &abreve;n
                  | &#x9;                            
                  li
                    a(href='#', title='#') B&agrave;n &abreve;n
                  | &#x9;                            
                  li
                    a(href='#', title='#') B&#x1ED9; b&agrave;n - gh&#x1EBF; &abreve;n
                | &#x9;            &#x9;  &#x9;&#x9; 
                a.img_pro_week.boxlazy(href='#', title='Khuyến mãi tuần')
                  img.lazyload(data-src='/themes/img/banner-cat2.jpg', src='/themes/img/loader.gif', alt='khuyến mãi tuần')
              |                 &#x9;&#x9;
              .box_cate_pro
                ul.list_category
                  li
                    a(href='#', title='#') Gi&#x1B0;&#x1EDD;ng ng&#x1EE7;
                  | &#x9;                            
                  li
                    a(href='#', title='#') T&#x1EE7; c&aacute;c lo&#x1EA1;i
                  | &#x9;                            
                  li
                    a(href='#', title='#') B&#x1ED9; ph&ograve;ng ng&#x1EE7;
                  | &#x9;                            
                  li
                    a(href='#', title='#') C&aacute;c b&#x1ED9; n&#x1ED9;i th&#x1EA5;t
                | &#x9;            &#x9;  &#x9;&#x9; 
                a.img_pro_week.boxlazy(href='#', title='Khuyến mãi tuần')
                  img.lazyload(data-src='/themes/img/banner-cat3.jpg', src='/themes/img/loader.gif', alt='khuyến mãi tuần')
          | &#x9;&#x9;&#x9;&#x9;
          li
            a(href='#', title='gia dụng') gia d&#x1EE5;ng
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            i
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .sub_nav
              .box_cate_pro
                ul.list_category
                  li
                    a(href='#', title='#') &Dstrok;&#x1ED3; gia d&#x1EE5;ng
                | &#x9;            &#x9;  &#x9;&#x9; 
                a.img_pro_week.boxlazy(href='#', title='Khuyến mãi tuần')
                  img.lazyload(data-src='/themes/img/banner-cat1.jpg', src='/themes/img/loader.gif', alt='khuyến mãi tuần')
              |                 &#x9;&#x9;
              .box_cate_pro
                ul.list_category
                | &#x9;            &#x9;  &#x9;&#x9; 
                a.img_pro_week.boxlazy(href='#', title='Khuyến mãi tuần')
                  img.lazyload(data-src='/themes/img/banner-cat2.jpg', src='/themes/img/loader.gif', alt='khuyến mãi tuần')
              |                 &#x9;&#x9;
              .box_cate_pro
                ul.list_category
                | &#x9;            &#x9;  &#x9;&#x9; 
                a.img_pro_week.boxlazy(href='#', title='Khuyến mãi tuần')
                  img.lazyload(data-src='/themes/img/banner-cat3.jpg', src='/themes/img/loader.gif', alt='khuyến mãi tuần')
          | &#x9;&#x9;&#x9;&#x9;
          li
            a(href='#', title='hàng trang trí') h&agrave;ng trang tr&iacute;
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            i
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .sub_nav
              .box_cate_pro
                ul.list_category
                  li
                    a(href='#', title='#') H&agrave;ng trang tr&iacute;
                | &#x9;            &#x9;  &#x9;&#x9; 
                a.img_pro_week.boxlazy(href='#', title='Khuyến mãi tuần')
                  img.lazyload(data-src='/themes/img/banner-cat1.jpg', src='/themes/img/loader.gif', alt='khuyến mãi tuần')
              |                 &#x9;&#x9;
              .box_cate_pro
                ul.list_category
                | &#x9;            &#x9;  &#x9;&#x9; 
                a.img_pro_week.boxlazy(href='#', title='Khuyến mãi tuần')
                  img.lazyload(data-src='/themes/img/banner-cat2.jpg', src='/themes/img/loader.gif', alt='khuyến mãi tuần')
              |                 &#x9;&#x9;
              .box_cate_pro
                ul.list_category
                | &#x9;            &#x9;  &#x9;&#x9; 
                a.img_pro_week.boxlazy(href='#', title='Khuyến mãi tuần')
                  img.lazyload(data-src='/themes/img/banner-cat3.jpg', src='/themes/img/loader.gif', alt='khuyến mãi tuần')
          | &#x9;&#x9;&#x9;&#x9;
          li
            a(href='#', title='dịch vụ') d&#x1ECB;ch v&#x1EE5;
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            i
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .sub_nav
              .box_cate_pro
                ul.list_category
                  li
                    a(href='#', title='#') D&#x1ECB;ch v&#x1EE5;
                | &#x9;            &#x9;  &#x9;&#x9; 
                a.img_pro_week.boxlazy(href='#', title='Khuyến mãi tuần')
                  img.lazyload(data-src='/themes/img/banner-cat1.jpg', src='/themes/img/loader.gif', alt='khuyến mãi tuần')
              |                 &#x9;&#x9;
              .box_cate_pro
                ul.list_category
                | &#x9;            &#x9;  &#x9;&#x9; 
                a.img_pro_week.boxlazy(href='#', title='Khuyến mãi tuần')
                  img.lazyload(data-src='/themes/img/banner-cat2.jpg', src='/themes/img/loader.gif', alt='khuyến mãi tuần')
              |                 &#x9;&#x9;
              .box_cate_pro
                ul.list_category
                | &#x9;            &#x9;  &#x9;&#x9; 
                a.img_pro_week.boxlazy(href='#', title='Khuyến mãi tuần')
                  img.lazyload(data-src='/themes/img/banner-cat3.jpg', src='/themes/img/loader.gif', alt='khuyến mãi tuần')
          | &#x9;&#x9;&#x9;&#x9;
          li
            a(href='#', title='chuyên mục') chuy&ecirc;n m&#x1EE5;c
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            i
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            .sub_nav
              .box_cate_pro
                ul.list_category
                  li
                    a(href='#', title='#') Gi&#x1EDB;i thi&#x1EC7;u
                  | &#x9;                            
                  li
                    a(href='#', title='#') Tin t&#x1EE9;c
                | &#x9;            &#x9;  &#x9;&#x9; 
                a.img_pro_week.boxlazy(href='#', title='Khuyến mãi tuần')
                  img.lazyload(data-src='/themes/img/banner-cat1.jpg', src='/themes/img/loader.gif', alt='khuyến mãi tuần')
              |                 &#x9;&#x9;
              .box_cate_pro
                ul.list_category
                  li
                    a(href='#', title='#') Phong th&#x1EE7;y
                  | &#x9;                            
                  li
                    a(href='#', title='#') Gi&#x1EA3;i ph&aacute;p
                  | &#x9;                            
                  li
                    a(href='#', title='#') Ti&#x1EC7;n &iacute;ch
                | &#x9;            &#x9;  &#x9;&#x9; 
                a.img_pro_week.boxlazy(href='#', title='Khuyến mãi tuần')
                  img.lazyload(data-src='/themes/img/banner-cat2.jpg', src='/themes/img/loader.gif', alt='khuyến mãi tuần')
              |                 &#x9;&#x9;
              .box_cate_pro
                ul.list_category
                  li
                    a(href='#', title='#')
                | &#x9;            &#x9;  &#x9;&#x9; 
                a.img_pro_week.boxlazy(href='#', title='Khuyến mãi tuần')
                  img.lazyload(data-src='/themes/img/banner-cat3.jpg', src='/themes/img/loader.gif', alt='khuyến mãi tuần')