extends ./layouts/home.jade
block contentshihi
  section
        .bannermain
          a.boxlazy(href='#', title='#')
            img.lazyload(data-src='/themes/img/banner-diengiadung.jpg', src='/themes/img/loader.gif', alt='banner điện gia dụng')
        | &#x9;&#x9;
        .desc_banner
          .info_cate
            h2
              | &dstrok;i&#x1EC7;n gia d&#x1EE5;ng
            | &#x9;&#x9;&#x9;&#x9;
            p
              | Hai th&#x1B0;&#x1A1;ng hi&#x1EC7;u xu&acirc;t x&#x1EE9; t&#x1EEB; M&#x1EF9; l&agrave; Simplehome v&agrave; Kitchenlux s&#x1EBD; mang &dstrok;&#x1EBF;n cho kh&aacute;ch h&agrave;ng nh&#x1EEF;ng thi&#x1EBF;t b&#x1ECB; &dstrok;i&#x1EC7;n gia d&#x1EE5;ng &dstrok;&#x1EA3;m b&#x1EA3;o uy t&iacute;n, ch&#x1EA5;t l&#x1B0;&#x1EE3;ng, gi&aacute; c&#x1EA3; h&#x1EE3;p l&yacute;, &dstrok;&aacute;p &#x1EE9;ng &dstrok;&#x1EA7;y &dstrok;&#x1EE7; m&#x1ECD;i y&ecirc;u c&#x1EA7;u c&#x1EE7;a kh&aacute;ch h&agrave;ng
            | &#x9;&#x9;&#x9;&#x9;
            a(href='#', title='Xem thêm') Xem th&ecirc;m
          | &#x9;&#x9;&#x9;
          .relative_banner
            a.boxlazy(href='#', title='#')
              img.lazyload(data-src='/themes/img/hinh-diengiadung.jpg', src='/themes/img/loader.gif', alt='banner điện gia dụng')
        | &#x9;&#x9;
        .bannermain
          a.boxlazy(href='#', title='#')
            img.lazyload(data-src='/themes/img/banner-noithat.jpg', src='/themes/img/loader.gif', alt='banner điện gia dụng')
        | &#x9;&#x9;
        .desc_banner
          .info_cate
            h2
              | n&#x1ED9;i th&#x1EA5;t
            | &#x9;&#x9;&#x9;&#x9;
            p
              | &Dstrok;&aacute;p &#x1EE9;ng nhu c&#x1EA7;u ti&ecirc;u d&ugrave;ng c&#x1EE7;a ng&#x1B0;&#x1EDD;i Vi&#x1EC7;t, Simplehome mang &dstrok;&#x1EBF;n kh&aacute;ch h&agrave;ng nh&#x1EEF;ng d&ograve;ng s&#x1EA3;n ph&#x1EA9;m n&#x1ED9;i th&#x1EA5;t cao c&#x1EA5;p nh&#x1EAD;p kh&#x1EA9;u &dstrok;&#x1ED9;c quy&#x1EC1;n t&#x1EA1;i Malaysia c&oacute; thi&#x1EBF;t k&#x1EBF; &dstrok;a d&#x1EA1;ng, &dstrok;&#x1ED9;c &dstrok;&aacute;o, &dstrok;&#x1B0;&#x1EE3;c ng&#x1B0;&#x1EDD;i ti&ecirc;u d&ugrave;ng &dstrok;&aacute;nh gi&aacute; t&#x1ED1;t tr&ecirc;n th&#x1ECB; tr&#x1B0;&#x1EDD;ng v&#x1EC1; s&#x1ED1; l&#x1B0;&#x1EE3;ng, m&#x1EAB;u m&atilde;, thi&#x1EBF;t k&#x1EBF;, ch&#x1EA5;t l&#x1B0;&#x1EE3;ng v&agrave; gi&aacute; c&#x1EA3; h&#x1EE3;p l&yacute;
            | &#x9;&#x9;&#x9;&#x9;
            a(href='#', title='Xem thêm') Xem th&ecirc;m
          | &#x9;&#x9;&#x9;
          .relative_banner
            a.boxlazy(href='#', title='#')
              img.lazyload(data-src='/themes/img/hinh-noithat.jpg', src='/themes/img/loader.gif', alt='banner điện gia dụng')
        | &#x9;&#x9;
        .bannermain
          a.boxlazy(href='#', title='#')
            img.lazyload(data-src='/themes/img/banner-giadung.jpg', src='/themes/img/loader.gif', alt='banner điện gia dụng')
        | &#x9;&#x9;
        .desc_banner
          .info_cate
            h2
              | gia d&#x1EE5;ng
            | &#x9;&#x9;&#x9;&#x9;
            p
              | Gia d&#x1EE5;ng l&agrave; nh&#x1EEF;ng v&#x1EAD;t d&#x1EE5;ng kh&ocirc;ng th&#x1EC3; thi&#x1EBF;u trong m&#x1ED7;i gia &dstrok;&igrave;nh. Vi&#x1EC7;c l&#x1EF1;a ch&#x1ECD;n s&#x1EA3;n ph&#x1EA9;m gia d&#x1EE5;ng ch&#x1EA5;t l&#x1B0;&#x1EE3;ng, an to&agrave;n, ti&#x1EC7;n &iacute;ch m&agrave; l&#x1EA1;i ti&#x1EBF;t ki&#x1EC7;m kh&ocirc;ng d&#x1EC5; d&agrave;ng.  V&igrave; v&#x1EAD;y, ch&uacute;ng t&ocirc;i s&#x1EBD; gi&uacute;p b&#x1EA1;n tr&#x1EDF; th&agrave;nh ng&#x1B0;&#x1EDD;i ti&ecirc;u d&ugrave;ng th&ocirc;ng minh nh&#x1EA5;t, l&#x1EF1;a ch&#x1ECD;n ch&iacute;nh x&aacute;c nh&#x1EA5;t cho gia &dstrok;&igrave;nh
            | &#x9;&#x9;&#x9;&#x9;
            a(href='#', title='Xem thêm') Xem th&ecirc;m
          | &#x9;&#x9;&#x9;
          .relative_banner
            a.boxlazy(href='#', title='#')
              img.lazyload(data-src='/themes/img/hinh-giadung.jpg', src='/themes/img/loader.gif', alt='banner điện gia dụng')
        | &#x9;&#x9;
        .bannermain
          a.boxlazy(href='#', title='#')
            img.lazyload(data-src='/themes/img/banner-trangtri.jpg', src='/themes/img/loader.gif', alt='banner điện gia dụng')
        | &#x9;&#x9;
        .desc_banner
          .info_cate
            h2
              | h&agrave;ng trang tr&iacute;
            | &#x9;&#x9;&#x9;&#x9;
            p
              | Nh&agrave; l&agrave; n&#x1A1;i b&#x1EA1;n th&#x1EA5;y tho&#x1EA3;i m&aacute;i v&agrave; b&igrave;nh y&ecirc;n. V&#x1EAD;y t&#x1EA1;i sao ch&uacute;ng ta kh&ocirc;ng l&agrave;m m&#x1EDB;i kh&ocirc;ng gian s&#x1ED1;ng b&#x1EB1;ng ch&uacute;t s&#x1EAF;c m&agrave;u t&#x1EEB; nh&#x1EEF;ng s&#x1EA3;n ph&#x1EA9;m trang tr&iacute; tinh t&#x1EBF;. M&#x1EB7;t h&agrave;ng trang tr&iacute; Simplehome s&#x1EBD; gi&uacute;p b&#x1EA1;n th&#x1ECF;a s&#x1EE9;c s&aacute;ng t&#x1EA1;o kh&ocirc;ng gian theo c&aacute;ch ri&ecirc;ng c&#x1EE7;a m&igrave;nh
            | &#x9;&#x9;&#x9;&#x9;
            a(href='#', title='Xem thêm') Xem th&ecirc;m
          | &#x9;&#x9;&#x9;
          .relative_banner
            a.boxlazy(href='#', title='#')
              img.lazyload(data-src='/themes/img/hinh-trangtri.jpg', src='/themes/img/loader.gif', alt='banner điện gia dụng')
      | &#x9;